// Container
.container {
    width: 100%;
    max-width: 1600px;
}

.serversContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
    margin: auto;
    padding: 2rem;
}

.windowContainer {
    margin: 2rem;
}

.controlsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.subTitle {
    margin-top: 2rem;
    color: white;
    font-size: large;
    font-family: "Pixelated MS Sans Serif";
    padding-bottom: 1rem;
}

.text-red {
    color: red !important;
}
